<!DOCTYPE html>
<html>
  <head>
    <title>Ask me!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>

  <body>
    <div class="wrapper">
      <%= content_tag :div, class: "navbar", style: "background-color: #{current_user_header_color}" do %>
        <p class="title-sm text-bold ml-sm"><%= link_to 'ASK ME!', root_path %><small class="text-white text-sm">by LeonT</small></p>

        <div>
          <% if current_user.present? %>
            <%= link_to "#{display_nickname(current_user)}", user_path(current_user), class: 'text-md mr-sm' %>
            <%= button_to 'Sign Out', session_path, method: :delete, class: 'mr-sm' %>
          <% else %>
            <p class="text-white text-sm">
            <%= link_to 'Sign up', new_user_path, class: 'button button-yellow mr-sm ml-sm' %>
            <%= link_to 'Sign in', new_session_path, class: 'button button-yellow mt mb mr-sm' %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p class="mb mt message message-alert"><%= flash[:alert] %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
