<!DOCTYPE html>
<html>
  <head>
    <title>Ask me!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
    <p class="title-lg text-white mb">ASK ME! <small class="text-white text-sm">by LeonT</small></p>

    <% unless flash[:notice].nil? %>
      <p class="mb mt message message-notice"><%= flash[:notice] %></p>
    <% end %>

      <%= yield %>
    </div>
  </body>
</html>
